:root {
/* light  #FFFDE8 dark #5F4A52  sticky menu #D2B5C7  */
    /* === Cover / Landing area === */
    --cover-text-color: #5F4A52;
    /* Used for Landing screen menu buttons, but potentially usable for highlighting other things d*/
    --highlight: ##e0dfe6;
    --highlight-contrast: var(--cover-text-color);
    /*iverse colors used for :hover */
    --highlight-inverse: var(--cover-text-color);
    --highlight-inverse-contrast: white;

    /* visual guard around title and description, when the feature is enabled */
    --cover-title-and-description-guard-bg-color: rgba(255, 255, 255, 0.6);
    --cover-title-text-shadow: white 0px 0px 7px;


    /* === sticky top/left navigation menus === */
    --sticky-menu-text-color: #D2B5C7;


    /* === Alternating content (post) sections FFFDE8 === */
    /* Light section - text color */
    --section-light-text-color: #5F4A52;
    /* Light section - background color */
    --section-light-bg-color: #e0dfe6;

    /* Dark section - text color */
    --section-dark-text-color: var(--section-light-bg-color);
    /* Dark section - background color */
    --section-dark-bg-color: #5F4A52;

te: grey;
    /* Light&Dark section `code` a bit darker than 'Light section - background color' */
    --section-uni-code-bg-color: #e0ded7;


    /* === Footer === */
    --footer-color-background: #22343a;
    --footer-color: #bbc7cc;
}